<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>Report Details</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="firstDiv">
        <nav class="my-3 mx-14 flex" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a href="/admin"
                        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-700 dark:hover:text-gray-500">
                        <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                            </path>
                        </svg>
                        Home
                    </a>
                </li>
                <li aria-current="page">
                    <a href="/reports" class="flex items-center">
                        <svg aria-hidden="true" class="w-6 h-6 text-gray-500" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-1 text-sm font-medium text-gray-700 md:ml-2 dark:text-gray-700">Reports</span>
                    </a>
                </li>
                <li aria-current="page">
                    <div class="flex items-center">
                        <svg aria-hidden="true" class="w-6 h-6 text-gray-500" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-1 text-sm font-medium text-gray-700 md:ml-2 dark:text-gray-700">Report
                            Details</span>
                        </a>
                </li>
            </ol>
        </nav>
    </div>
    <div class="secondDiv">
        <h1 class="mx-14 py-4 text-3xl font-semibold">Report Details</h1>
    </div>
    <div class="thirdDiv">
        <p class="text-xl w-3/6 mb-6 mx-14 pt-8">
            There are <span class="font-bold">
                <%= totoalSessionsLength %>
            </span>sessoins between <span class="font-bold">
                <%= startDate %>
            </span>
            and
            <span class="font-bold">
                <%= endDate %>
            </span>.
        </p>
        <div class="mx-14 py-4 sessionBox grid grid-cols-2 gap-2">
            <% for(let i=0; i<sportSession.length; i++){ %>
                <a href="#">
                    <% for(let j=0;j<sportNameArr.length;j++){ %>
                        <% if(sportNameArr[i].id==sportSession[i].sportId){ %>
                            <%= sportNameArr[i].name %>
                                <% break %>
                                    <% } }%>
                                        <p class="mx-5 inline-block text-bold">|</p>
                                        <%= moment(sportSession[i].dateTime).format('Do MMMM, YYYY | hh:mm A') %>
                                            <% if(sportSession[i].slot==1){ %>
                                                <span class="text-red-700">Last Slot</span>
                                                <% }else if(sportSession[i].slot==0){%>
                                                    <span class="text-red-700">Full Slot</span>
                                                    <%}else{%>
                                                        <span>
                                                            <%= sportSession[i].slot %> Slot
                                                        </span>
                                                        <%} %>
                </a>

                <% } %>
        </div>
        <% if(totoalSessionsLength!=0){ %>
            <p class="text-xl w-3/6 mb-6 mx-14 pt-8 mb-4">
                The following are the number sessions for certain sports -
            </p>
            <% Object.keys(_noSession).forEach(function(key){ %>
                <p class="text-xl w-3/6 mb-2 mx-14 font-bold">
                    <%= key %> - <%= _noSession[key] %> Sessions
                </p>

                <% }); %>
                    <% } %>
                        <div class="mt-9">
                            <a href="/reports"
                                class="mx-14 w-1/5 btn mt-8 py-2 px-4 font-semibold rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                                Go Back
                            </a>
                        </div>

                        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/datepicker.min.js"></script>
    </div>
</body>

</html>